.container {
    max-width: 800px;
    margin: 0 auto;
  }
  .item:not(:last-child) {
    margin-bottom: 2rem;
  }
  @media (min-width: 600px) {
    .item {
      display: flex;
   }
    .item:nth-child(even) {
      flex-direction: row-reverse;
   }
  }
  .item__col {
    height: 20rem;
    flex-basis: 50%;
    margin: 20px;
  }
  .item__image {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .item__text {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }